@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #78aeff;
}

.css-13cymwt-control {
  padding: 16.5px 14px;
  margin-top: 16px;
}

.css-1p3m7a8-multiValue {
  padding: 5px 10px;
  border-radius: 10px !important;
  margin: 4px !important;
}
